body, table {
  font-family: Helvetica, sans-serif;
  empty-cells: hide;
}

table tr th { background-color: #eee; }

table tr:nth-child(even) { background-color: #fbfbfb; }

table th, table td { padding: 10px; }

.sha {
  color: #aaa;
  font-size: small;
}

input[type=text], input[type=submit], input[type=button] {
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 10px;
}
