<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    {% if view == "list" %}
    <table>
      <tr>
        <th></th>
        <th>(Nick) Name</th>
        <th>(Possibly fake) Surname</th>
        <th>(Dreamed) Nationality</th>
      </tr>
      {% for sha, info in data %}
      <tr>
        <td class="sha">{{ sha }}</td>
        <td>{{ info['name'] }}</td>
        <td>{{ info['surname'] }}</td>
        <td>{{ info['nationality'] }}</td>
        <td>
	<form>
	  <input type="button" onclick="window.location.href = '/detail/{{ sha }}';" value="View">
            <input type="button" onclick="window.location.href = '/delete/{{ sha }}';" value="Delete">
	</form>
        </td>
      </tr>
      {% endfor %}
      <tr>
        <form method="post">
          <td></td>
          <td><input autocomplete="off" size="25" type="text" name="name"></td>
          <td><input autocomplete="off" size="25" type="text" name="surname"></td>
          <td><input autocomplete="off" size="25" type="text" name="nationality"></td>
          <td><input type="submit" name=”add” value="Add"></td>
        </form>
      </tr>
    </table>
    {% endif %}
    {% if view == "user" %}
    <table>
      <tr><td rowspan="6"><img src="http://api.adorable.io/avatars/200/{{ info['name'] }}@xomnia.png"></td></tr>
      <tr><td class="sha">{{ sha }}</td>
      <tr><td>{{ info['name'] }}</td>
      <tr><td>{{ info['surname'] }}</td>
      <tr><td>{{ info['nationality'] }}</td>
    </table>
    {% endif %}
  </body>
</html>
